header {
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.container-fluid {
    background: url(font.jpg) center / cover no-repeat;
}
.container-fluid .row {
    height: 100vh; 
    text-align: center;
}
.buttons {
    text-align: right;
}